################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/SmartCart/FileContentIndex
/.vs/SmartCart/v17
/.vs/VSWorkspaceState.json
/SC_API/.vs
/.vs/SmartCart
/SC_Repository
/test/obj
