################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/SmartCart/FileContentIndex
/.vs/SmartCart/v17
/.vs/VSWorkspaceState.json
/SC_API/.vs
/.vs/SmartCart
/test/obj
/SC_Repository/.vs/SC_Repository/v17
/SC_Repository/.vs/SC_Repository/FileContentIndex
/SC_Repository/.vs/SC_Repository/CopilotIndices/17.14.1561.44479
/.vs
